<footer class="row">
  <div class="col-md-6">
    Copyright 2017
  </div>
  <div class="col-md-6 text-right">
    <a target="_blank" href="https://ideas.incorporations.io">Feedback & Feature Requests</a>
  </div>
</footer>