<header class="">
  <nav class="navbar navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="<%=site_path%>/<%=lang%>">
      Marketplace Apps
    </a>
    <div class="collapse navbar-collapse float-right justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      </div>
    </div>
  </nav>
</header>