<div class="admin-actions" style="padding: 1em">
	<form method="POST" action="<%=site_path%>/admin/sync/programs">
		<button type="submit" class="btn btn-secondary btn-sm">Sync Programs AirTable</button>
	</form>
</div>


<div class="admin-grid">
  <% include _data_grid %>
</div>