<div class="admin-actions" style="padding: 1em">
	<form method="POST" action="<%=site_path%>/admin/sync/translations">
		<button type="submit" class="btn btn-secondary btn-sm">Sync Translations</button>
	</form>
</div>

<div class="admin-grid">
  <% include _data_grid %>
</div>